.bannerMain{
    background-image: url("https://sxcontent9668.azureedge.us/cms-assets/assets/Desktop_launches_fa37a114ad.jpg"); 
    background-color: #cccccc;
    height:800px;
    width:100%;
    padding: 0%;
    background-position: center;
    background-size: cover;
    overflow-y: auto;
    position: relative;
} 
 
.navbarMain{
    width:100%;
    display: flex;
    justify-content: space-around;
    height: 80px;
    background-color:rgba(89, 70, 70, 0.477);
    position: fixed;
    top: 0px;
    z-index: 5;
    align-items: center;
}
.linkMain{
    color:white;
    text-decoration: none;
}

@media  screen and (max-width: 600px){
    .navbarMain{
        width:100%;
        display: flex;
        justify-content: space-around;
        height: 80px;
        background-color:rgba(89, 70, 70, 0.477);
        position: fixed;
        top: 0px;
        z-index: 5;
        align-items: center;
        overflow-y: auto;
    }
}
