.datagrid{
    text-align: center;
    margin-top: 80px;
}
.datagridDiv{
    box-shadow: 5px 5px 5px black;
    width: 100%;
    display: grid;
    gap: 2%;
    text-align: center;
    background-color: rgb(135, 135, 108);
    color: rgb(28, 19, 19);
}
.datagridMain{
    display:grid;
    grid-template-columns: repeat(3,1fr);
    gap:2%;
    padding: 2%;
    
}
.paginationMain{
    margin-top: 150px;
    /* margin-left: ; */
    padding-bottom: 5%;
    
}

@media  screen and (max-width: 600px){
    .datagridMain{
        display:grid;
        grid-template-columns: repeat(2,1fr);
        gap:2%;
        padding: 2%;
        
    }
}