.searchformMain{
    width: 100%;
    display: flex;
     
    margin-top: 50px;
    margin-bottom: 100px;
}
.leftSearchform{
    width:30%;
    display: grid;
    padding:5%;
    
}
.rightSearchform{
    width:70%

}